<% require './course' %>

<%= breadcrumbs('Office Hours') %>

<p>We'll be holding office hours each week until the end of the course.</p>

<p>If you'd like to be invited to the Google Hangout, please post
to <a href="/m2o2c2-001/forum/list?forum_id=10003"><i class="icon-comments"></i>&nbsp;the
Office Hours forum</a> with your Google address.  Feel free to post
questions you'd like to see addressed, too!</p>

<h5>Office Hours 1</h5>

<p>Our first Office Hours will be on <strong>Wednesday, April 2, 2014 at 2:00pm Eastern time.</strong>  We hope you can make it!  We're looking forward to trying this out.</p>

<h5>Office Hours 2</h5>

<p>Our second Office Hours was on <strong>Thursday, April 10th at 10:00am Eastern time</strong></p>

<h5>Office Hours 3</h5>

<p>Our third Office Hours was on <strong>Thursday, April 16th at
12:00pm Eastern time</strong>.</p>

<h5>Office Hours 4</h5>

<p>Our third Office Hours will be on <strong>Thursday, April 24th at
3:00pm Eastern time</strong>.</p>

<h5>Future times</h5>

<p>If there are particularly good or particularly bad times, let us
know.  We will try to schedule future office hours at a variety of
times to make sure as many people can participate as possible.</p>
