<% require './course' %>

<%= week_title( 4, "Higher derivatives" ) %>

<p id="week-summary">In this fourth week, the second derivative of a multivariable function appears.</p>

<p><strong>Stay tuned!</strong>  This content is coming soon.</p>

<%= week_pager(4) %>
