<% require './course' %>

<%= week_title( 2, "Limits and the derivative" ) %>

<p id="week-summary">In this second week, we introduce the main topic of study: the derivative.  To do so, we'll have to learn something about limits, too.</p>

<p>Welcome back to the course!  If you have some free time, please
complete
a <a href="/m2o2c2-001/quiz/attempt?quiz_id=33"><i class="icon-pencil"></i>&nbsp;mid-course
survey</a>; your responses will help us learn what is working, and
where we can improve.  And thank you for the many wonderful
conversations <a href="/m2o2c2-001/forum"><i class="icon-comments"></i>&nbsp;in
the course forum</a>; it has been a ton of fun thus far.  We're just
honored to get to share this journey with you.</p>

<p>In Week 2, we're about to plunge into derivatives (which entails
doing a bit about limits, too).  This course is moving at a
very <strong>high-speed</strong>.  Participate as much as you can.  If
you are feeling lost and confused, please contact us.  It is our goal
that everybody succeed.</p>

<h4>What are limits?</h4>

<p>In single variable calculus, you probably met <strong>limits</strong>.  We have prepared an <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week2/limits/">activity on multivariable limits</a> since the story is a bit more complicated with more variables.  In single variable calculus, you can only approach a point from the right or from the left, but in multivariable calculus, you can approach a point from any number of different directions!</p>

<h4>What are derivatives?</h4>

<p>Recall that our main goal is to understand functions and, specifically, how changes to their input affect their output.  The <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week2/multivariable-derivative/">activity on derivatives</a> will use a <strong>linear map</strong> to package together the infintesimal relationship between input wiggling and output wiggling.</p>

<h4>What are these weird symbols \(\partial\) and \(\nabla\)?</h4>

<p>The <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week2/partial-derivatives/">activity on partial derivatives</a> will introduce you to \(\partial\); a <strong>partial derivative</strong> answers the question of how wiggling a <em>single</em> input affects the output.  And the  <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week2/gradient/">activity on the gradient</a> will introduce you to \(\nabla\) (pronounced <a href="http://en.wikipedia.org/wiki/Nabla_symbol">nabla</a>), a geometric way of interpreting the derivative&mdash;which is a covector!&mdash;as a vector.</p>

<h4>What is the chain rule?</h4>

<p>Functions are, fundamentally, all about how they compose.  So if we are understanding how small changes to the input affect the output, we should also consider how such changes can be "chained" together via composition.  This is our goal in the <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week2/chain-rule/">activity on the chain rule</a>.</p>

<h4>By the end of the week&hellip;</h4>

<p>Just like last week, we end the week with a chance for you to
demonstrate what you've learned.  So be sure to take
the <a href="/m2o2c2-001/quiz/attempt?quiz_id=31"><i class="icon-pencil"></i>&nbsp;End
of Week 2 Quiz</a> when you are feeling ready.  To help you preprae,
we collected together
some <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week2/practice/">computational
practice problems</a> for you to work on.</p>

<p>And if you are feeling like this is all too much calculus, the good news is that next week, we'll return to doing more linear algebra.</p>

<%= week_pager(2) %>
