<% require './course' %>

<%= week_title( 6, "Tensors and Taylor series" ) %>

<p id="week-summary">In this last week, we view higher order
derivatives as tensors, and form Taylor series for multivariable
functions.</p>

<p>This is our last week with just a bit of new content; next week,
we'll unveil the Final Exam.  The big deal this week is generalizing
from bilinearity to <em>multilinaerity</em> which lets us formulate
multivariable Taylor series.</p>

<p>We have been enjoying talking during
our <a href="/m2o2c2-001/wiki/officehours"><i class="icon-film"></i>&nbsp;Office
Hours</a> in Google Hangouts; if you would like to participate in this
week's Office Hours Hangout,
<a href="/m2o2c2-001/forum/list?forum_id=10003"><i class="icon-comments"></i>&nbsp;please
write a message to that effect in the Office Hours forum</a>.  The
next Office Hours will be on Jim's birthday at <strong>April 24th at
3:00pm Eastern time</strong>.  We hope you can make it!  We'll run one
more office hours next week to help out with the Final Exam.</p>

<p>If you are worried, elated, confused&mdash;really, feeling anything
at
all!&mdash;please <a href="/m2o2c2-001/forum"><i class="icon-comments"></i>&nbsp;post
to the course forum about your situation</a>.</p>

<h4>What will this last week, Week 6, bring us?</h4>

<p>In Week 6, we'll be starting from our vantage point in Week 5 and
generalizing: instead of bilinear, we
consider <strong>multilinearity</strong>.</p>

<h4>What are are multilinear maps?</h4>

<p>If a bilinear map is linear in two inputs separately, then what is
a <em>multilinear</em> map?  In general, a \(k-\)linear map will have
\(k\) inputs, and will be linear in each of those \(k\) inputs.
The <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week6/multilinear/">activity
on multilinear maps</a> will give you a chance to think through the
ramifications of this.</p>

<h4>How is the third derivative a trilinear form?</h4>

<p>Long ago, we represented the derivative at a point as a linear map;
since the second derivative involved two small perturbations, we
recognized the second derivative as a bilinear map.  In this
week, <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week6/higher-order-derivatives/">an
activity on the higher-order derivative</a> discusses how higher
derivatives can be represented as multilinear maps.</p>

<h4>What can I do with all this?</h4>

<p>The big application is <strong>multivariable Taylor
series</strong>.
The <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week6/full-taylor/">activity
on multivariable Taylor series</a> considers this.</p>

<h4>By the end of the week&hellip;</h4>

<p>To earn the points you will need to earn a certificate, please
complete
the <a href="/m2o2c2-001/quiz/attempt?quiz_id=41"><i class="icon-pencil"></i>&nbsp;End
of Week 6 Quiz</a>.  This is our last quiz; next week's Final
Examination will give you an opportunity to earn more points towards
the certificate.  Next week, we will also provide a fake (practice!)
final examination to help you prepare for the real Final
Examination.</p>

<%= week_pager(6) %>
