<% require './course' %>

<%= week_title( 6, "Tensors and Taylor series" ) %>

<p id="week-summary">In this last week, we view higher order derivatives as tensors, and form Taylor series for multivariable functions.</p>

<p><strong>Stay tuned!</strong>  This content is coming soon.</p>

<%= week_pager(6) %>
