<% require './course' %>

<%= week_title( 5, "Optimization" ) %>

<p id="week-summary">In this fifth week, we use calculus to find the largest value of a multivariable function.</p>

<p><strong>Stay tuned!</strong>  This content is coming soon.</p>

<%= week_pager(5) %>
