<% require './course' %>

<%= week_title( 4, "Bilinearity" ) %>

<p id="week-summary">In this fourth week, we consider bilinearity, as a first step towards considering the second derivative.</p>

<p><strong>Stay tuned!</strong>  This content is coming soon.</p>

<%= week_pager(4) %>
