<% require './course' %>

<%= week_title( 1, "Functions" ) %>

<p id="week-summary">In this first week, we introduce multivariable functions and linear maps.</p>

<p>First off, welcome to the course!  We are <a href="/m2o2c2-001/wiki/view?page=AboutTheInstructor">Jim Fowler and Steve Gubkin</a>, and we are very glad that you are here.  Please complete the <a href="/m2o2c2-001/quiz/attempt?quiz_id=21"><i class="icon-pencil"></i>&nbsp;initial course survey</a>.  Your feedback will help us to customize the course.  We also hope that you'll <a href="/m2o2c2-001/forum/thread?thread_id=1"><i class="icon-comments"></i>&nbsp;introduce yourself in the forum</a>.  We're looking forward to getting to know you and to learning what brings you to this community.</p>

<p>You may also want to read <a href="/m2o2c2-001/wiki/GradingandLogistics">about the philosophy of how we are structuring this course.</a>  In short, the course is built <strong>entirely around exercises</strong> which are supported with hints and discussion.  The hope is that this gets us all actively doing mathematics as quickly as possible, but, of course, it is an experiment.  This course is <strong>high-speed</strong> so don't worry too much if you find it too fast.  We'll take what we learn from this iteration of the course and we hope to run it again in the future.</p>

<h4>Try a sample activity</h4>

<p>You can try a <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week1/tutorial/">sample activity</a> to get used to the format that the activities will appear in.  Make sure that you <a href="http://ximera.osu.edu/auth/coursera">log in</a> so that your progress is saved.</p>

<h4>What are points?  What are vectors?</h4>

<p>To deal with multiple inputs and outputs at the same time, we package those multiple values together into a single object: a vector.  The <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week1/Rn/">activity on \(\mathbb{R}^n\)</a> will introduce you to points and vectors.</p>

<h4>What is a function?</h4>

<p>Our main goal is to understand functions, and how changes to the input affect the output.  The <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week1/functions/">activity on functions</a> will give some examples of functions with many inputs, including higher-order functions which act on functions.</p>

<h4>What is a linear map?</h4>

<p>The easiest case of functions are <em>linear functions</em>.  The <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week1/linear-maps/">activity on linear maps</a> provides definitions, and lets you work through some computations.</p>

<h4>What is a matrix?</h4>

<p>The easiest case of functions are <em>linear functions</em>.  The <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week1/linear-maps/matrices/">activity on matrices</a> uses matrices to do computations involving linear maps.</p>

<h4>By the end of the week&hellip;</h4>

<p>Each week, you'll have the opportunity to demonstrate what you've learned by completing a quiz; after the end of this week's activities, you can attempt the <a href="/m2o2c2-001/quiz/attempt?quiz_id=23"><i class="icon-pencil"></i>&nbsp;End of Week 1 Quiz</a>.</p>

<p>Finally, let me just say that we are honored to be able to share
some mathematics with you.  If there are specific things you would
like to learn about, please let us know.  The success of this
course&mdash;of this community&mdash;depends on communication.</p>

<%= week_pager(1) %>
