<% require './course' %>

<%= week_title( 2, "Derivative" ) %>

<p id="week-summary">In this second week, we introduce the main topic of study: the derivative.  We'll be focusing on the derivative for the rest of the course, so if you find things confusing, there is a lot of time to catch up.</p>

<p><strong>Stay tuned!</strong>  This content is coming soon.</p>

<%= week_pager(2) %>
