<% require './course' %>

<%= week_title( 4, "Bilinearity" ) %>

<p id="week-summary">In this fourth week, we consider bilinearity, as a first step towards considering the second derivative.</p>

<p>We've done a ton of work thus far, and we're about to get to the
big payoff.  Bilinearity is the framework through which we'll be able
to study the second derivative in Week 5, and with the second
derivative, we'll attack optimization problems in arbitrarily many
variables.  Then in Week 6, we finish by looking at multivariable
Taylor series.  Hang in there!  Our quest is nearly complete.</p>

<p>And thank you so much for your hard work and the tremendous amount
of time you are putting into this course.  Your time is valuable, and
I appreciate your choosing to spend time doing mathematics.  I had a
great time
at <a href="/m2o2c2-001/wiki/officehours"><i class="icon-film"></i>&nbsp;Office
Hours</a> last week.  If you have more questions or would like to
participate in a future Office Hours Hangout,
please <a href="/m2o2c2-001/forum/list?forum_id=10003"><i class="icon-comments"></i>&nbsp;post
to the Office Hours forum</a>.  The next Office Hours will be
on <strong>Thursday, April 10th at 10:00am Eastern time</strong> and
both of us (Jim and Steve) expect to be there&mdash;I hope you'll be
there, too!</p>

<p>We have very much
enjoyed <a href="/m2o2c2-001/forum"><i class="icon-comments"></i>&nbsp;the
discussions in the course forum</a>.  If you are confused about
anything, proud of something you have learned, or othrewise interested
in chatting, please feel free
to <a href="/m2o2c2-001/forum"><i class="icon-comments"></i>&nbsp;write
a post</a>.</p>

<h4>What will this fourth week bring?</h4>

<p>In this&mdash;our fourth week!&mdash;we're
starting <em>multilinear</em> algebra.  The point is to build a
framework within which to understand the second derivative, since we
will need that to formulate a second derivative test for maximums and
minimums.</p>

<p>If you are like to think about things from a fancy perspective, we
are beginning to study <em>tensors</em>.</p>

<h4>What are bilinear maps?</h4>

<p>We have already thought about linear maps, and now we will
consider <strong>bilinear maps</strong>.  These are functions of two
(vector!) inputs which are linear in both inputs, separately.  There
is
an <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week4/bilinear-maps/">activity
on bilinear maps</a> which introduces this machinery.</p>

<p>As a sneak-peek, recall how the derivative is a linear map because
it records how a small change in the input affects the output.  What
about the second derivative?  There are <em>two</em> small changes to
consider when differentiating twice.  So perhaps bilinearity will play
a role!  And indeed, it will.</p>

<h4>How are bilinear maps represented?</h4>

<p>We already saw how we can represent a linear map with a matrix.
An <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week4/bilinear-matrix/">activity
on matrices associated to a bilinear form</a> will demonstrate how a
matrix can also encode some bilinear maps.</p>

<h4>I remember taking the transpose of a matrix.</h4>

<p>A while back, we considered the <em>transpose</em> of a matrix,
where we swapped the rows and columns.  When we're thinking about
linear maps and how they are related to bilinear forms, there is a
somewhat nicer perspective that we can take.  We
present <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week4/bilinear-matrix/">an
activity on the <em>adjoint</em> of a linear map</a> which, from one
perspective, provides a higher vantage point from which to think about
transposes.</p>

<p>One important example arises when
considering <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week4/self-adjoint/">self-adjoint
linear operators</a> which are&mdash;perhaps as their name suggests!&mdash;linear operators which are their own adjoint.</p>

<p>Self-adjointness will be important when we consider second
derivatives next week.</p>

<h4>Positive?  Negative?</h4>

<p>Everything we're doing here is setting ourselves up to analyze the second derivative next week; from Calculus One, you might remember <a href="http://en.wikipedia.org/wiki/Second_derivative_test">second derivative test</a> which relied on understanding when the second derivative was postiive and when it was negative.</p>

<p>Next week we'll see that the second derivative can be regarded as a bilinear form, so what does <em>positive</em> mean for a bilinear form?  Instead, we speak of <strong>positive definite</strong> forms.  There is a related concept of <strong>negative definiteness</strong>.  All this is summarized in an <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week4/definiteness/">activity on positive definite and negative definite forms</a>.</p>

<h4>By the end of the week&hellip;</h4>

<p>As at the end of every single week in this course, there is an opportunity to take a short quiz.  To earn the points you will need to earn a certificate, please remember to complete
the <a href="/m2o2c2-001/quiz/attempt?quiz_id=37"><i class="icon-pencil"></i>&nbsp;End
of Week 4 Quiz</a>.</p>

<%= week_pager(4) %>
