<% require './course' %>

<%= week_title( 3, "Vector spaces" ) %>

<p id="week-summary">In this third week, we swing back to linear algebra, exploring subspaces, eigenvectors, and abstract vector spaces.</p>

<p>We're right in the middle of it now!  Thank you for the many great
questions and fantastic answers
in <a href="/m2o2c2-001/forum"><i class="icon-comments"></i>&nbsp;the
course forum</a>; we have been super-impressed with you!</p>

<p>Now that we're in the middle of things, we'll also be
holding <a href="/m2o2c2-001/wiki/officehours"><i class="icon-film"></i>&nbsp;Office
Hours</a>.  You can propose questions for us to discuss during office
hours in
the <a href="/m2o2c2-001/forum/list?forum_id=10003"><i class="icon-comments"></i>&nbsp;the
Office Hours forum</a>.  If you'd like to receive the invitation to
the Google Hangout, please post there, too.  We'll be holding Office Hours on <strong>Wednesday, April 2, 2014 at 2:00pm Eastern time.</strong></p>

<h4>What will this week bring?</h4>

<p>In our third week, we're swinging back towards linear algebra.
There is a <strong>ton</strong> of new material this week, and we are
moving at a <strong>very high speed</strong>, so please participate as
much as you can, but don't worry if it seems like things are going by
too fast.  The goal is to build up a bit more mathematical maturity in
preparation to handle the <strong>second derivative</strong> next
week.  It's a good question to have on your mind: <em>if the first derivative is represented at each point as a linear map, then the second derivative is&hellip; what?</em></p>

<h4>What are abstract vector spaces?</h4>

<p>We have already met \(\mathbb{R}^n\), but now we will consider <strong>abstract vector spaces</strong>.  We have prepared an <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week3/abstract/">activity on abstract vector spaces</a> which axiomatizes much of what we have already done.</p>


<h4>What are bases?</h4>

<p>In a couple weeks, we will want to rewrite matrices in a nicer way;
working with respect to a different collection of vectors will be
super helpful then.  A few <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week3/bases/">activities on bases, span, linear independence, dimension</a> will introduce some of this terminology.  If it seems complicated, let me reassure you that in a few weeks, we will have some very concrete situations to consider where your intuition might be stronger.</p>

<h4>How do I build new vector spaces?</h4>

<p>In mathematics&mdash;as in life&mdash;there are two ways to build things.</p>
<ul>
<li><strong>Build up,</strong> glue together, use tape, attach things, paint.  Mathematically, these are <em>quotients.</em></li>
<li><strong>Cut down,</strong> cut out, scissors, remove things, sculpt.  Mathematically, these are <em>subobjects.</em></li>
</ul>
<p>To get started on this line of thinking, there is an <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week3/subspace/">activity on subspaces</a>.</p>

<h4>Eigenstuff</h4>

<p>One way to understand linear maps&mdash;really, one way to understand anything that does something&mdash;is to see if that are inputs which aren't affected all that much.  An <strong>eigenvector</strong> of a linear map is an input which, though it might change magnitude (even by a negative scalar!), doesn't change direction.  Understanding the eigenvectors of a linear map is one way to study a linear map.  You can get started on this task with an <a href="http://ximera.osu.edu/course/kisonecat/m2o2c2/course/activity/week3/eigenstuff/">activity on eigenvectors</a>.</p>

<h4>By the end of the week&hellip;</h4>

<p>As at the end of every week, there is an opportunity to
demonstrate all that you've learned.  To earn points, be sure to take
the <a href="/m2o2c2-001/quiz/attempt?quiz_id=35"><i class="icon-pencil"></i>&nbsp;End
of Week 3 Quiz</a>.</p>

<p>And if you are feeling like this is all too
much <a href="http://en.wikipedia.org/wiki/Abstract_nonsense">abstract
nonsense</a>, the good news is that next week, we'll return to doing
some concrete multivariable differential calculus.</p>

<%= week_pager(3) %>
