<% require './course' %>

<%= week_title( 2, "Limits and the derivative" ) %>

<p id="week-summary">In this second week, we introduce the main topic of study: the derivative.  To do so, we'll have to learn something about limits, too.</p>

<p><strong>Stay tuned!</strong>  This content is coming soon.</p>

<%= week_pager(2) %>
