<% require './course' %>

<%= week_title( 3, "Chain Rule" ) %>

<p id="week-summary">In this third week, we consider the multivariable versio of the chain rule.</p>

<p><strong>Stay tuned!</strong>  This content is coming soon.</p>

<%= week_pager(3) %>
