<% require './course' %>

<%= week_title( 5, "Second derivative" ) %>

<p id="week-summary">In this fifth week, we use consider the second derivative as a bilinear form.</p>

<p><strong>Stay tuned!</strong>  This content is coming soon.</p>

<%= week_pager(5) %>
