<% require './course' %>

<%= week_title( 3, "Vector spaces" ) %>

<p id="week-summary">In this third week, we swing back to linear algebra, exploring subspaces, eigenvectors, and abstract vector spaces.</p>

<p><strong>Stay tuned!</strong>  This content is coming soon.</p>

<%= week_pager(3) %>
